
cfemm/Testing/Temporary/
mfemm/xfemm_mex_files_for_glnxa64/
mfemm/xfemm_mex_files_for_gnu-linux-x86_64/
cfemm/build/
cfemm/bin/
*.asv
*.o
cfemm/libfemm/femmversion.h
*.layout
*.edge
*.ele
*.node
*.pbc
*.a
*.result.ans
*.result.fem
