
cfemm/bin/epproc-test
cfemm/bin/esolver
cfemm/bin/femmcli
cfemm/bin/fmesher
cfemm/bin/fpproc-test
cfemm/bin/fsolver
cfemm/bin/hpproc-test
cfemm/bin/hsolver
cfemm/Testing/Temporary/CTestCostData.txt
cfemm/Testing/Temporary/LastTest.log
mfemm/xfemm_mex_files_for_glnxa64/fpproc_interface_mex.mexa64
mfemm/xfemm_mex_files_for_glnxa64/hpproc_interface_mex.mexa64
mfemm/xfemm_mex_files_for_glnxa64/mexfmesher.mexa64
mfemm/xfemm_mex_files_for_glnxa64/mexfsolver.mexa64
mfemm/xfemm_mex_files_for_glnxa64/mexhsolver.mexa64
mfemm/xfemm_mex_files_for_gnu-linux-x86_64/fpproc_interface_mex.mex
mfemm/xfemm_mex_files_for_gnu-linux-x86_64/hpproc_interface_mex.mex
mfemm/xfemm_mex_files_for_gnu-linux-x86_64/mexfmesher.mex
mfemm/xfemm_mex_files_for_gnu-linux-x86_64/mexfsolver.mex
mfemm/xfemm_mex_files_for_gnu-linux-x86_64/mexhsolver.mex
*.asv
*.o
cfemm/libfemm/femmversion.h
*.layout
